# Azure OpenAI Configuration

AZURE_OPENAI_API_KEY=<your-azure-openai-api-key>

AZURE_OPENAI_RESOURCE_NAME=<your-azure-resource-name>

AZURE_OPENAI_CHAT_DEPLOYMENT_ID=gpt-4o

AZURE_OPENAI_API_VERSION=2024-12-01-preview

AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_ID=<your-azure-openai-embeddings-deployment-id> # Optional for embeddings

AZURE_OPENAI_ENDPOINT=<your-azure-openai-endpoint>

# Weaviate Configuration

WEAVIATE_URL=<your-weaviate-url>

# FastAPI Application Configuration

NEXXUS_PORT=8000
NEXXUS_WORKERS=1
NEXXUS_LOG_LEVEL=debug
NEXXUS_DEBUG=1