# Azure OpenAI Configuration

AZURE_OPENAI_API_KEY=AIfjEmox2LInknChqUD1DR2TZJuS132EOIiH17Ce560n8bEfwTeIJQQJ99BBACHYHv6XJ3w3AAAAACOGwQcW

AZURE_OPENAI_RESOURCE_NAME=rg-ronibhakta-5110_ai

AZURE_OPENAI_CHAT_DEPLOYMENT_ID=ai-ronibhakta7502ai450729243898

AZURE_OPENAI_API_VERSION=2024-12-01-preview

# AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_ID=your_azure_openai_embeddings_deployment_id_here # Optional for embeddings

AZURE_OPENAI_ENDPOINT=https://roni-masjfh4x-southindia.openai.azure.com/


WEAVIATE_URL=http://weaviate:8080


NEXXUS_PORT=8000
NEXXUS_WORKERS=1
NEXXUS_LOG_LEVEL=debug
NEXXUS_DEBUG=1