fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
# pydantic== 1.10.12
pydantic-core
pydantic
pydantic-settings
python-dotenv
langchain
openai
torch
nltk
scikit-learn
httpx
langchain-openai
pytest
pytest-cov
pytest-asyncio
